@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Space Mono', monospace;
}
.dollar-input {
    display: inline-flex;
    align-items: center;
    /* border: 1px solid #ccc;
    border-radius: 4px; */
    padding: 4px;
  }
  .dollarsign{
    font-size: 2.5rem;
    transform: translateX(3rem);
    color: hsl(172, 67%, 45%) ;
  }
  input {
    border: none;
    outline: none;
    width: 100%;
  }

.icon{position: absolute;
    margin-top: 4px;
}
.container{
    background-color:   hsl(185, 41%, 84%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subcontainer{
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    height: 65%;
    display: flex;
    

  
}
.rightcontainer{
    background-color:  hsl(183, 100%, 15%);
    margin: 2em 2em 2em 0;
    border-radius: 15px;
    

}
.leftcontainer{
    margin: 2em 1em 2em 2em;
    border-radius: 15px;
    justify-content: center;


}
.leftcontent{
    margin-left: .2em;
    
}

.theInput{
    width: 90%;
    height: 2.5em;
    background-color:   hsl(189, 41%, 97%);
    border: none;
    margin-bottom: 1.5em;
    text-align: right;
   
    
   
   }
   .theInput[type=number]{
    color: hsl(183, 100%, 15%);
    font-weight: 780;
    padding: .5em;

   }
   input:hover, #secondInput:hover,#custom:hover{
    border: 1.5px solid  hsl(172, 67%, 45%);
    cursor: pointer;
   }

#firstbutton{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    
}
button{
    width: 5rem;
    height: 2rem;
    margin: 1rem .8rem;
    text-align: center;
    background-color:hsl(183, 100%, 15%) ;
    border: none;
    border-radius: .2em;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1em;
   
}
button:hover{
   background-color:   hsl(172, 67%, 45%);  
}
#custom{
    border: none;
    width: 6rem;
    height: 2rem;
    margin: 1rem .5rem;
    text-align: center;
    background-color:  hsl(189, 41%, 97%);
    color:hsl(183, 100%, 15%)  ;
    font-size: 1em;
}
p span{
    font-size: .7rem;
   
    /* margin-top: .4rem; */
}
span{
    font-size: .7rem;
    color: hsl(0, 0%, 100%);
}

.tipAmount{
    margin:2em;
}
.rightcontainerText{
    color: hsl(0, 0%, 100%);
}
.tipInput{
   text-align: right;
   border-style: none;
   background-color:hsl(183, 100%, 15%) ;
   font-size: 3rem;
   width: 12rem;
   color:  hsl(172, 67%, 45%);
  
   
}
.tipInput:hover{
    border: none;
}
#Reset{
    width: 80%;
    margin:.5em 2.5em;
    height: 2.5em;
    background-color:  hsl(172, 67%, 45%);
    border: none;
}
.errorparagraph{
    /* display: block; */
    font-size: .8rem;
    text-align: right;
    margin-left: 5em;
    color: red;
    visibility: hidden;
}
/* media query for phone*/
@media screen and (max-width:540px) {
    .container{
        
    }
    .subcontainer{
        display: block;
        margin-top: 8em;
        height: 100vh;
    }

    #firstbutton{
        display: grid;
        
        grid-template-columns: repeat(2, 2fr)
    }
    #firstbutton > button{
        width: 7rem;
    }
    .rightcontainer{
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 3px;
        
    }
    .tipInput{
        margin-left: 50px;
    }
    .dollarsign{
        font-size: 2.5rem;
        transform: translateX(8rem);
      }
}